In [1]:
x=int(input("enter your data:"))
y=int(input("enter your data :"))
z=x+y
print("my data is :",z)

my data is : 46

In [4]:
x=(input("enter your data:"))
y=(input("enter your data :"))
z=x+y
print("my data is :",z)

my data is : 122144

In [6]:
x=int(100)
y=int(100)
z=x+y
print("my data is :",z)

my data is : 200

In [1]:
x=int(input("enter your data:"))
y=int(input("enter your data :"))
z=x**y
print("my data is :",z)

my data is : 32

In [21]:
r=int(input("enter r:"))
area= (22/7)*(r**2)
print("area is :", area)

area is : 154.0

In [1]:
s=int(input("enter side :"))
s_a=s**2
r=(s_a*(22/7))**0.5
print("r is :",r)

r is : 12.409673645990857

In [1]:
"tarunkumar"

'tarunkumar'

In [2]:
print("tarun 'kumar'")

tarun 'kumar'

In [1]:
% this operator is used for show the reminder

UsageError: Line magic function `%` not found.

In [2]:
** operator show the power 
// operator show the ture division

SyntaxError: invalid syntax (929188376.py, line 1)

In [22]:
x=float(input("enter a  number: "))
y=float(input('enter a number : '))
z=x+y
print("this is result:" ,z)

this is result: 2674947.0

In [12]:
for i in range (5,10,15):
        if i<=15:
                print(i)
        else:
                print("rest of the digit")

5

In [20]:
n1=int(input("enter n1:"))
n2=int(input("enter n2:"))
n3=int(input("enter n3:"))
print(n1,"is smallest number") if (n1<n2 and n1<n3) else(print(n2, "is samllest number")if(n2<n1 and n2<n3) else print(n3, "is samllest"))

12 is samllest number

In [17]:
n1=int(input("enter n1:"))
n2=int(input("enter n2:"))
n3=int(input("enter n3:"))
print(n1,"is smallest number") if (n1<n2 and n1<n3)or (n1<n2 and n1>n2) else(print(n2, "is samllest number")if(n2<n1 and n2<n3) else(print(n3, "is samllest")))

12 is smallest number

In [18]:
print("aao") if 12<=3 else  ("jao")

'jao'

In [19]:
x=int(input("enter a value1"))
y=int(input("enter a value2"))
print("smallest value is :",x) if x<y else print("smallest value is :",y)

smallest value is : 12

#logical operator


#and or not
#two or many condition are used than the logical operator can be used

In [ ]:
# and operator is all condition are true this is only a ture 
# or operator is at lest one condition is ture then is show true condition
# not operator true = false , false = true

In [3]:
n1=int(input("enter n1:"))
n2=int(input("enter n2:"))
n3=int(input("enter n3:"))
print(n1,"is smallest number") if (n1>n2 and n1<n3)or (n1<n2 and n1>n3) else print(n2,"is smallest number") if ((n2>n1 and n2<n3)or(n2<n1 and n2>n3)) else print(n3,"is smallest number")

14 is smallest number

conditional statements
if , else , elif

In [17]:
import getpass as g
print("WELCOME \n")
print("tarun kumar")
t=int(g.getpass("enter you kundali"))
if t==4321:
    print("do ask any questions form me")
    print("who are you go and do your work")
    print("kya haal ha mera bhai")
else:
    print("password not match")
print("\nchal nikal")
print('ha ja bhai')

WELCOME

tarun kumar
password not match

chal nikal
ha ja bhai

In [19]:
import getpass as g
print("WELCOME \n")
print("tarun kumar")
t=int(g.getpass("enter you kundali"))
if t==4321:
    print("do ask any questions form me")
    print("who are you go and do your work")
    print("kya haal ha mera bhai")
    h=int(input("enter your second level"))
    if h==3214:
        print("ha bol bhai sorry for late reply")
        print("ha bol kya kam ha")
    else:
        print("second level worng")
else:
    print("password not match")
print("\nchal nikal")
print('ha ja bhai')

WELCOME

tarun kumar
do ask any questions form me
who are you go and do your work
kya haal ha mera bhai
ha bol bhai sorry for late reply
ha bol kya kam ha

chal nikal
ha ja bhai

In [23]:
for i in range (10):
    print("*"*i)

*
**
***
****
*****
******
*******
********
*********

In [2]:
import getpass as g
print("WELCOME \n")
print("tarun kumar")
t=int(g.getpass("enter you kundali"))
if t==4321:
    print("do ask any questions form me")
    print("who are you go and do your work")
    print("kya haal ha mera bhai")
    h=int(input("enter your second level"))
    if h==3214:
        print("ha bol bhai sorry for late reply")
        print("ha bol kya kam ha")
    else:
        print("second level worng")
elif t==7890:
    print("the new key password")
else:
    print("password not match")
print("\nchal nikal")
print('ha ja bhai')

WELCOME

tarun kumar
do ask any questions form me
who are you go and do your work
kya haal ha mera bhai
ha bol bhai sorry for late reply
ha bol kya kam ha

chal nikal
ha ja bhai

 loop while , for

In [12]:
print("not welcome\n")
i=1
n=int(input("enter your number"))
while i<=n:
    print(i,'jai ho')
    i=i+5
print("value of i:",i)
print("\n nikl")

not welcome

1 jai ho
6 jai ho
11 jai ho
16 jai ho
21 jai ho
26 jai ho
31 jai ho
36 jai ho
41 jai ho
46 jai ho
51 jai ho
56 jai ho
61 jai ho
66 jai ho
71 jai ho
76 jai ho
81 jai ho
86 jai ho
91 jai ho
96 jai ho
value of i: 101

 nikl

In [15]:
print("tttttt\n")
while True:
    print("akjbfsjfwbefkhewbf")
    gloww=input("repeat you want ")
    if gloww=="y":
        break
print("\nanything")

tttttt

akjbfsjfwbefkhewbf

anything

In [2]:
print ( "hello world")
for i in range (10):
    print("$"*i)

hello world

$
$$
$$$
$$$$
$$$$$
$$$$$$
$$$$$$$
$$$$$$$$
$$$$$$$$$

In [2]:
bin(200) #binary value to get

'0b11001000'

In [6]:
int("11001000",2)#decimal value to get

200

In [9]:
ord("z")#key to ascii

122

In [2]:
chr(122) #ascii to key

'z'

In [6]:
#key to ascii to binary
k="A"   
G=ord(k)
finaloutput = bin(G)
finaloutput

'0b1000001'

In [8]:
#bin to ascii to key
d="1000001"
s=int(d,2)
w=chr(s)
w

'A'

In [1]:
for i in range (256):
    print (i, chr(i))

0  
1 
2 
3 
4 
5 
6 
7 
8
9
10

11
12
13
14 
15 
16 
17 
18 
19 
20 
21 
22 
23 
24 
25 
26 
27 
28
29
30
31
32
33 !
34 "
35 #
36 $
37 %
38 &
39 '
40 (
41 )
42 *
43 +
44 ,
45 -
46 .
47 /
48 0
49 1
50 2
51 3
52 4
53 5
54 6
55 7
56 8
57 9
58 :
59 ;
60 <
61 =
62 >
63 ?
64 @
65 A
66 B
67 C
68 D
69 E
70 F
71 G
72 H
73 I
74 J
75 K
76 L
77 M
78 N
79 O
80 P
81 Q
82 R
83 S
84 T
85 U
86 V
87 W
88 X
89 Y
90 Z
91 [
92 \
93 ]
94 ^
95 _
96 `
97 a
98 b
99 c
100 d
101 e
102 f
103 g
104 h
105 i
106 j
107 k
108 l
109 m
110 n
111 o
112 p
113 q
114 r
115 s
116 t
117 u
118 v
119 w
120 x
121 y
122 z
123 {
124 |
125 }
126 ~
127 
128 
129 
130 
131 
132 
133
134 
135 
136 
137 
138 
139 
140 
141 
142 
143 
144 
145 
146 
147 
148 
149 
150 
151 
152 
153 
154 
155 
156 
157 
158 
159 
160
161 ¡
162 ¢
163 £
164 ¤
165 ¥
166 ¦
167 §
168 ¨
169 ©
170 ª
171 «
172 ¬
173 ­
174 ®
175 ¯
176 °
177 ±
178 ²
179 ³
180 ´
181 µ
182 ¶
183 ·
184 ¸
185 ¹
186 º
187 »
188 ¼
189 ½
190 ¾
191 ¿
192 À
193 Á
194 Â
195 Ã
196 Ä
197 Å
198 Æ
199 Ç
200 È
201 É
202 Ê
203 Ë
204 Ì
205 Í
206 Î
207 Ï
208 Ð
209 Ñ
210 Ò
211 Ó
212 Ô
213 Õ
214 Ö
215 ×
216 Ø
217 Ù
218 Ú
219 Û
220 Ü
221 Ý
222 Þ
223 ß
224 à
225 á
226 â
227 ã
228 ä
229 å
230 æ
231 ç
232 è
233 é
234 ê
235 ë
236 ì
237 í
238 î
239 ï
240 ð
241 ñ
242 ò
243 ó
244 ô
245 õ
246 ö
247 ÷
248 ø
249 ù
250 ú
251 û
252 ü
253 ý
254 þ
255 ÿ

In [13]:
for i in range(5,0,-1):
    print(chr(64+i)*i)

EEEEE
DDDD
CCC
BB
A

In [14]:
for i in range(1,6):
    print("1"*i)

1
11
111
1111
11111

In [15]:
for i in range(1,6):
    print(str(i)*i)

1
22
333
4444
55555

In [5]:
for i in range(6,0,-1):
    print("*"*i)

******
*****
****
***
**
*

In [5]:
for i in range(6):
    print("")

       *
       *             *
       *             *             *
       *             *             *             *
       *             *             *             *             *

In [19]:
a=["1","1","2","2","342","4","24","24","35"]
print(a,type(a))

['1', '1', '2', '2', '342', '4', '24', '24', '35'] <class 'list'>

slicing

In [20]:
a[1:6]

['1', '2', '2', '342', '4']

In [21]:
a[1:7:2]

['1', '2', '4']

In [22]:
a[::-1]

['35', '24', '24', '4', '342', '2', '2', '1', '1']

In [23]:
a=a[::-1]
print(a)

['35', '24', '24', '4', '342', '2', '2', '1', '1']

In [24]:
a

['35', '24', '24', '4', '342', '2', '2', '1', '1']

In [25]:
q=100
a.append(q)

In [39]:
a

['35',
 '24',
 '24',
 '4',
 '342',
 '2',
 '2',
 '1',
 '1',
 100,
 23,
 24,
 25,
 26,
 27,
 28,
 23,
 24,
 25,
 26,
 27,
 28,
 23,
 24,
 25,
 26,
 27,
 28,
 23,
 24,
 25,
 26,
 27,
 28,
 'z',
 23,
 24,
 25,
 26,
 27,
 28,
 23,
 24,
 25,
 26,
 27,
 28,
 23,
 24,
 25,
 26,
 27,
 28]

In [36]:
z=list(range(23,29))
z

[23, 24, 25, 26, 27, 28]

In [37]:
a

['35',
 '24',
 '24',
 '4',
 '342',
 '2',
 '2',
 '1',
 '1',
 100,
 23,
 24,
 25,
 26,
 27,
 28,
 23,
 24,
 25,
 26,
 27,
 28,
 23,
 24,
 25,
 26,
 27,
 28,
 23,
 24,
 25,
 26,
 27,
 28,
 'z',
 23,
 24,
 25,
 26,
 27,
 28,
 23,
 24,
 25,
 26,
 27,
 28]

In [38]:
a.extend(z)
a

['35',
 '24',
 '24',
 '4',
 '342',
 '2',
 '2',
 '1',
 '1',
 100,
 23,
 24,
 25,
 26,
 27,
 28,
 23,
 24,
 25,
 26,
 27,
 28,
 23,
 24,
 25,
 26,
 27,
 28,
 23,
 24,
 25,
 26,
 27,
 28,
 'z',
 23,
 24,
 25,
 26,
 27,
 28,
 23,
 24,
 25,
 26,
 27,
 28,
 23,
 24,
 25,
 26,
 27,
 28]

In [41]:
l=[]
print(l)
e=[12,3,434]
t=[48,659,65]
c=[81,123,434]
l.append(e)
l.append(t)
l.append(c)
print(l)
print(len(l))

[]
[[12, 3, 434], [48, 659, 65], [81, 123, 434]]
3

In [42]:
l=[]
print(l)
e=[12,3,434]
t=[48,659,65]
c=[81,123,434]
l.extend(e)
l.extend(t)
l.extend(c)
print(l)
print(len(l))

[]
[12, 3, 434, 48, 659, 65, 81, 123, 434]
9

In [45]:
l.insert(1,33)
l

[12, 33, 33, 33, 3, 434, 48, 659, 65, 81, 123, 434]

In [47]:
l.index(33)

1

In [55]:
del l[l.index(434)]
l

[12, 3, 48, 659, 65, 81, 123, 434]

In [59]:
del l[-5]
l

[12, 3, 65, 81, 123, 434]

In [62]:
l.remove(123)
l

[12, 3, 65, 81]

In [47]:
h=[]
j=[12313,1313,1321]
l=["sdcsdc","fwfw","wefw"]
k=[123.123,1321.123,131.213]
print(h,j,l,k)

[] [12313, 1313, 1321] ['sdcsdc', 'fwfw', 'wefw'] [123.123, 1321.123, 131.213]

In [50]:
j=[0][1]

IndexError: list index out of range

In [39]:
for i in range(5):
    for j in range(i):
        print(" *",end="")
    print('')
for i in range(5,0,-1):
    for j in range(i):
        print(" *",end="")
    print('')

 *
 * *
 * * *
 * * * *
 * * * * *
 * * * *
 * * *
 * *
 *

In [46]:
numbers=(1,2,3,4,5,6,7,8,9)
count_even=0
count_odd=0
for i in numbers:
    if not i%2:
        count_even+=1
    else:
        count_odd+=1
print("numbers of even",count_even)
print("numbers of odd ",count_odd)

numbers of even 4
numbers of odd  5

In [5]:
j

[1, 3, 22, 424, 24, 24]

In [4]:
j=[1,3,1,22,424,24,24]
j.pop(2)

1

dictinory

In [2]:
ss={"check":"not check","fail":"pass","name":"sumit","kam":"feroti"}
ss

{'check': 'not check', 'fail': 'pass', 'name': 'sumit', 'kam': 'feroti'}

In [3]:
ss["name"]

'sumit'

In [4]:
ss["kam"]

'feroti'

In [7]:
ss={"check":"not check","fail":"pass","name":"sumit","kam":"feroti"}
ss["class"]="8th"
ss

{'check': 'not check',
 'fail': 'pass',
 'name': 'sumit',
 'kam': 'feroti',
 'class': '8th'}

In [9]:
ss["kam"]="murder"
ss

{'check': 'not check',
 'fail': 'pass',
 'name': 'sumit',
 'kam': 'murder',
 'class': '8th'}

In [2]:
for i in range(1):
    e=input("enter key: ")
    f=input("enter value: ")
    b[e]=f
    print("now data :",b)
    print("finally your DAAta :",b)

NameError: name 'b' is not defined

In [2]:
w={"employee":{"name":"tarun","age":21},"student":{"name":"rahul","roll no.":25}}
w

{'employee': {'name': 'tarun', 'age': 21},
 'student': {'name': 'rahul', 'roll no.': 25}}

In [3]:
w["student"]["roll no."]

25

In [4]:
import pandas as pd
pd.DataFrame(w)

         employee student
name        tarun   rahul
age            21     NaN
roll no.      NaN      25

string

In [11]:
v='''my self tarun kumar
i am live in sonipat 
currently i am doing a course of data analytics'''
print(v)

my self tarun kumar
i am live in sonipat
currently i am doing a course of data analytics

In [13]:
name="tarun"
surname="KUMAR"
name+surname

'tarunKUMAR'

In [2]:
def u():
    print(input(""))
u()

half of the year yesterfdqay

In [3]:
u()

fwuebuwvfwy

In [15]:
def n(r):
    print("value:" ,r*r)
d=20
n(d)

value: 400

In [8]:
def a():
    x=12
    y=24
    z=45
    return z
g=a()
print("your value is: ",g,type(g))

your value is:  45 <class 'int'>

In [17]:
n1=int(input("enter your number: "))
n2=int(input("enter your number: "))

def x(s,d):
    return s+d
def q(r,t):
    return r-t
e=input("enter + or - :")
if e=="+":
    result=x(n1,n2)
    print("plus value",result)
elif e=="-":
    result=q(n1,n2)
    print("minus value ",result)
else:
    print("your enter worng option")

enter the number 46

In [14]:
q(23,1)

22

In [2]:
def h():
    print("hhhhhh")
    def o():
        print("ccccccccccccccccc")
        def m():
            print("ssssssssssssssssssss")
h()

hhhhhh

In [7]:
def s(b,n):
    return b*n
s(10,20)

200

In [8]:
del s

In [11]:
sum([10,20])

30

In [12]:
def hello():
    print("ohh bhai")
    print("dass khida haal ha ")
    print("sab changa")
hello()

ohh bhai
dass khida haal ha
sab changa

In [28]:
w=hello

In [29]:
w()

ohh bhai
dass khida haal ha
sab changa

In [35]:
def tarun(x):
    x()
    print(" my self tarun")
    print("i am form sonipat")

In [36]:
n=w
tarun(n)

ohh bhai
dass khida haal ha
sab changa
 my self tarun
i am form sonipat

In [15]:
hello()
tarun(n)

ohh bhai
dass khida haal ha
sab changa
 my self tarun
i am form sonipat

In [41]:
l=[12,32,34,34]
print(l)

[12, 32, 34, 34]

In [42]:
def b(n):
    n[1]=100

In [43]:
print(l)
b(l)
print(l)

[12, 32, 34, 34]
[12, 100, 34, 34]

In [1]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (8.3.0)Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
import mysql.connector as sql

In [2]:
tkpk=sql.connect(host="localhost",port=3306,user='root',password="tarun@123",db='mydt')

In [3]:
plane=tkpk.cursor()

In [4]:
plane.execute("show tables")

In [5]:
for i in plane:
    print(i)

('college',)
('counting',)
('eb',)
('hostel',)
('hostelc',)
('library',)
('ticket_booking',)
('ticket_chart',)
('timetable',)
('tk',)

In [11]:
plane.execute('select * from ticket_chart')

In [12]:
for i in plane:
    print(i)

(1, 'delhi', 'chandigarh', 1000.0, 750.0, 500.0)
(2, 'delhi', 'kanpur', 1000.0, 750.0, 500.0)
(3, 'delhi', 'goa', 5000.0, 3750.0, 2500.0)
(4, 'chandigarh', 'delhi', 1600.0, 1200.0, 800.0)

In [9]:
plane.execute("select * from eb")

InternalError: Unread result found

In [13]:
for i in plane:
    print(i)

(132141, 'tarun', 500.0, 24141414, 'EVCPK23345')
(1321467, 'monu', 3523.32, 245655656, 'EVCPK23345')
(466498708, 'sahil', 4900.0, 77755555, 'kgycb24223')
(878798708, 'rahul', 300.01, 23424231, 'EVCPK23345')
(1321467471, 'sumit', 800.0, 24141413, 'EVCPK23345')

In [14]:
plane.execute("desc eb")

In [15]:
for i in plane:
    print(i)

('ac_no', 'bigint', 'NO', 'PRI', None, '')
('name', 'varchar(100)', 'NO', '', None, '')
('bill', 'float', 'NO', '', None, '')
('aadhar_card', 'bigint', 'YES', 'UNI', None, '')
('pancard', 'varchar(12)', 'YES', '', None, '')

In [16]:
plane.execute("select * from eb order by bill desc limit 1,1")
for i in plane:
    print(i)

(1321467, 'monu', 3523.32, 245655656, 'EVCPK23345')

In [17]:
plane

In [1]:
def my(x,y):
    z=x*y
    return z

In [3]:
a=my(200,400)
print(a)

80000

In [9]:
def c(m=0,n=0):#default arguments
    print("sum of this data :",m+n)
c(1)

sum of this data : 1

In [11]:
def h(*n):#args argument
    print("this is data ",n,"data type ",type(n))
h(23,23,23)

this is data  (23, 23, 23) data type  <class 'tuple'>

In [12]:
def h(*n):#args argument
    print("this is data ",sum(n))
h(23,23,23)

this is data  69

In [14]:
x=10
print("this is my data: ",x)
def j():
    x=20
    print("this is function data:",x)
print("seceond data ",x)
j()
print("third data",x)

this is my data:  10
seceond data  10
this is function data: 20
third data 10

In [16]:
x=10
def main_fun(x):
    print('i am main_fun',x)
    x=x+5
    print("i am fun value:",x)
    
print("1 i am x out of fun :",x)
main_fun(x)
print('2 i am x out of fun:',x)

1 i am x out of fun : 10
i am main_fun 10
i am fun value: 15
2 i am x out of fun: 10

In [17]:
x=10
def main_fun():
    global x
    print('i am main_fun',x)
    x=x+5
    print("i am fun value:",x)
    
print("1 i am x out of fun :",x)
main_fun()
print('2 i am x out of fun:',x)

1 i am x out of fun : 10
i am main_fun 10
i am fun value: 15
2 i am x out of fun: 15

In [19]:
def b(a):
    print("dsdddd")
    def c():
        print("sdsafdsff")
        print("sadgsdss",a)
    c()
b(10)

dsdddd
sdsafdsff
sadgsdss 10

In [20]:
def hello():
    z="i sm z"
    return z
z1=hello()

In [21]:
z1

'i sm z'

In [1]:
def my():
    print("my name is tarun")
    print("age=21")

In [3]:
def s(x):
    def my2():
        print("weclome ")
        print('betho')
        x()
        print("jao") 
        print("goo")
    return my2

In [4]:
s=s(my)

In [5]:
s()

weclome
betho
my name is tarun
age=21
jao
goo

actual decorator

In [10]:
@ss
def mys():
    print("my name is tarun")
    print("age=21")

In [11]:
def ss(x):
    def my2():
        print("weclome ")
        print('betho')
        x()
        print("jao") 
        print("goo")
    return my2

In [12]:
mys()

weclome
betho
my name is tarun
age=21
jao
goo

In [14]:
import os
os.getcwd()

'c:\\Users\\Lenovo\\.ipython\\.vscode'

In [18]:
a=[99,33,123,132,3,232,1]
sum(a)

623

In [5]:
def y(n):
    m=0
    for i in n:
        m+=i
    return m
print(y([2423,24,24,24,343]))

2838

In [6]:
def s(x):
    d=1
    for i in x:
        d*=i
    return d
print(s([12425,2452,35.325,]))

1076214982.5

In [7]:
from operator import *
m=1
for i in a:
    m=mul(i,m)    
print(m)

36917936352

In [13]:
def b(a):
    x=a[0]
    for i in a:
        if i>x:
            x=i
    return x
print("largest number",b(a))

largest number 232

In [9]:
max(a)

232

In [19]:
def c(a):
    v=a[0]
    for i in a:
        if i<v:
            v=i
    return v
print("smallest number",c(a))

smallest number 1

In [23]:
q=['abc', 'xyz', 'aba', '1221']

['abc', 'xyz', 'aba', '1221']